<h2 class='admin'>Phone Data</h2>

<table class="table table-striped">
 <tbody>
  <thead>
    <tr>
      <th>Total SMS Messages Sent</th>
      <th>Total Cost</th>
    </tr>
  </thead>
  <tr>
    <% @client.account.usage.records.list({:category => "sms"}).each do |record| %>
    <td style="width: 70%"><%= record.count %></td>
    <td style="width: 30%">$<%= record.price %></td>

  </tr>
  <% end %>
</tbody>
</table>



<table class="table table-striped">
 <tbody>
  <thead>
    <tr>
      <th>Total Outbound Phone Call Reminders</th>
      <th>Total Cost</th>
    </tr>
  </thead>
  <tr>
    <% @client.account.usage.records.list({:category => "calls-outbound"}).each do |record| %>
    <td style="width: 70%"><%= record.count %></td>
    <td style="width: 43%">$<%= record.price %></td>
  </tr>
  <% end %>
</tbody>
</table>


