<h1 class="text-center">About Us</h1>
<hr>
<br>
<h4> Our Vision </h4>
<p>
	Forget Me Not was envisioned with the user in mind. Our goal is to simplify your life by removing all those separate bills and reminders from your mind. ForgetMeNot is equipped  with a simple and clean interface. With ForgetMeNot we have streamlined the signup process to take less than 60 seconds. Once a user signs up, all that is left is to simply add their bills and link them to  our abundant database of providers. All your bills will be locally shown in your Calendar page, from where a user will be able to locate and see in detail any of their bills.
</p> 

<h4>The DashBoard</h4>
<p>
	When a bill is upcoming, its information will be displayed in your Dashboard. 
	Your dashboard ecnompasses your next 7 days. Any bills due then, will be displayed with an accompanying link to pay it right away.  Once a bill is paid, you mark it so.
	Any bills that are past due will show up on your dashboard until you mark them as paid.
</p>
<br>
<br>
<div class="container-fluid"
  <div class="row ">
  	<div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="http://i58.tinypic.com/b46d0x.jpg" class="img-rounded">
      </a>
    </div>


    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="http://i57.tinypic.com/2v8iupu.jpg" class="img-rounded">
      </a>
    </div>

    <div class="col-xs-6 col-md-4">
      <a href="#" class="thumbnail">
        <img src="http://i58.tinypic.com/6h3v5k.jpg" class="img-rounded">
      </a>
    </div>
  </div>
</div>







	




