<h1>How It Works</h1>
<ul>
	<li>Add a bill</li>
	<li>Choose your bill category and provider</li>
	<li>Choose your bills duedate</li>
	<li>Choose the frequency of your bill</li>
	<li>Get reminded!</li>
</ul>