// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$primary-color: #3498db;
$secondary-color: #f1c40f;

#bills{
  padding-top: 30px;
  .calendar {
    border-collapse: collapse;
    width: 100%;

    td, th {
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      padding: 6px;
      border: 1px solid #fff;
    }

    th {
      background: #009cde;
      color: #FFFFFF;
      font-weight: bold;
      text-align: center;
      width: 14.2857142857143%;
    }

    td {
      background: #009cde;
      color: #FFFFFF;
      height: 80px;
      vertical-align: top;
      font-size: 16px;
      a {
        color: #FFFFFF;
        font-size: 16px;
      }
    }

    .notmonth, .notmonth a { 
      color: #CCC; 
    }

    .today { 
      color: #009cde;
      background-color: #fff; 
    }

    .today a {
      color: #009cde;
    }
  }
}

#bills #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 100;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #FFFFFF;
  }
}

#bills ul {
  font-size: 11px;
  padding-left: 20px;
}